body {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa;
    color: #212529;
}

a {
    color: #212529;
    text-decoration: none;
}

h1 {
    font-family: 'Alegreya', serif;
    font-size: 3rem;
    font-weight: 600;
}

/* Navbar */

.brand {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 2.2rem;
    color: #ff7e67;
}

.button {
    color: #ff7e67;
}

.nav-link {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #ff7e67;
}

/* Jumbotron */

.jumbotron {
    height: 360px;
    position: relative;
    background: no-repeat center center;
    background-color: #ccf2f4;
    background-size: cover;
    background-attachment: scroll;
}

.jumbo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.jumbo-title {
    position: relative;
    margin-top: 40px;
    color: #fafafa;
}

.jumbo-header {
    padding-top: 20px;
    font-size: 4rem;
}

.jumbo-subheader {
    font-size: 1.1rem;
}

/* Footer */

.footer-icon {
    padding: 20px 15px;
}

.footer-icon:hover {
    color: #ff7e67;
}

.copyright {
    font-size: 0.8rem;
}