{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/bg/about_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">About Me</h1>
            <p class="subheading">Things to know.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
        <img src="./static/img/propicsm.jpg" class="profile-pic" alt="profile-pic">
    </div>
    <div class="col-lg-8 col-md-10 mx-auto media media-about">
        <img src="./static/img/aws-saa2020.png" class="media-img align-self-center mr-3" alt="...">
        <div class="media-body body-right">
            <h4 class="mt-0">Amazon Web Services</h4>
            <p>I have been learning and experimenting with Amazon Web Services since May 2020, and earned the Solutions
                Architect Associate certification in October of that same year. I am currently making progress towards
                the Developer Associate certification.</p>
            <p class="mb-0">My cloud résumé is hosted on a serverless AWS stack including S3, Lambda, and DynamoDB.</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto media media-about">
        <div class="media-body body-left">
            <h4 class="mt-0">Python</h4>
            <p>I started structured Python learning in November 2020. I am familiar with console-based scripting, GUIs,
                web scraping, API authoring, basic data science, and web application development.</p>
        </div>
        <img src="./static/img/python.png" class="media-img align-self-center ml-3" alt="...">
    </div>
    <div class="col-lg-8 col-md-10 mx-auto media media-about">
        <img src="./static/img/custom-comp.jpg" class="media-img align-self-center mr-3" alt="...">
        <div class="media-body body-right">
            <h4 class="mt-0">Custom Computing</h4>
            <p>I assembled my first custom PC in 2014, and have completed several other builds since then. My most
                recent build features a hard-line water cooling loop for better heat dissipation under heavy loads.</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-10 mx-auto media media-about">
        <div class="media-body body-left">
            <h4 class="mt-0">Recreation</h4>
            <p>When not coding or working in the cloud, I enjoy creating and rendering 3D images in Daz Studio, FDM
                (fused deposition modeling) 3D printing, and gaming. I have spent many years running and cycling
                competitively, and occasionally noodle around on a guitar.</p>
        </div>
        <img src="./static/img/powerman.jpg" class="media-img align-self-center ml-3" alt="...">
    </div>
</div>

{% endblock %}