{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/blog_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">My Blog</h1>
            <p class="subheading">A career-changer's journey.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="feature-title text-center">
        <h2 class="medium-heading">All Blog Posts</h2>
    </div>

</div>

{% endblock %}