{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/blog_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">My Blog</h1>
            <p class="subheading">A career-changer's journey.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
            {% for blog_post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('get_blog_post', post_id=blog_post.id) }}">
                    <h2 class="medium-heading">{{ blog_post.title }}</h2>
                    <h3 class="small-heading">{{ blog_post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">Posted by {{ blog_post.author.name }} on {{ blog_post.date }}
                    {% if current_user.id == 1 %}
                    <a href="{{ url_for('delete', post_id=blog_post.id) }}">✘</a>
                    {% endif %}
                    </p>
                </div>
            {% endfor %}
        
            <!-- Pager -->
            <div class="clearfix">
                {% if current_user.id == 1 %}
                    <a class="btn custom float-right" href="{{ url_for('make_post') }}"><i class="fas fa-pencil-alt"></i> Create New Post</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}