{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/home_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">Hi! I'm Alex.</h1>
            <p class="subheading">A cloud architect and developer.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="feature-title text-center">
        <h2 class="medium-heading">Welcome to my portfolio page.</h2>
    </div>
    <div class="row">
        <div class="col-lg-4 feature-box text-center">
            <i class="fas fa-star fa-3x feature-icon"></i>
            <h3 class="medium-heading"><a href="{{ url_for('get_about_page') }}">About Me</a></h3>
            <p class="subheading">AWS. Python. Passion.</p>
        </div>
        <div class="col-lg-4 feature-box text-center">
            <i class="fas fa-laptop-code fa-3x feature-icon"></i>
            <h3 class="medium-heading"><a href="{{ url_for('get_projects') }}">Projects</a></h3>
            <p class="subheading">What I'm working on.</p>
        </div>
        <div class="col-lg-4 feature-box text-center">
            <i class="fas fa-pen-fancy fa-3x feature-icon"></i>
            <h3 class="medium-heading"><a href="{{ url_for('get_all_posts') }}">Blog</a></h3>
            <p class="subheading">Thoughts and musings.</p>
        </div>
    </div>
</div>
<div class="dark container-fluid">
    <div class="container cta text-center">
        <h2 class="medium-heading">Get in touch!</h2>
        <a type="button" class="cta-btn btn btn-outline-light btn-lg" href="https://resume.alexeversmeyer.com/">Résumé</a>
        <a type="button" class="cta-btn btn btn-light btn-lg" href="{{ url_for('contact_me') }}">Hire Me</a>
    </div>
</div>
{% endblock %}