{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/login_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">Login</h1>
            <p class="subheading">Quick and easy.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p style="color:red; font-style:italic">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto content">
            <p class="register-link text-muted">Need to register? <a class="muted" href="{{ url_for('register_new_user') }}">Click here!</a></p>
        </div>
    </div>
</div>

{% endblock %}