{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/bg/makepost_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">New Blog Post</h1>
            <p class="subheading">Write it. Write it good.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            <form action="" method="post" class="form" role="form">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.subtitle) }}
            {{ wtf.form_field(form.img_url) }}
            {{ wtf.form_field(form.body) }}
            <button type="submit" class="btn custom"><i class="fas fa-ghost"></i> Submit Post</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}