{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Blog Post
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ blog_post.img_url }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">{{ blog_post.title }}</h1>
            <p class="subheading">{{ blog_post.subtitle }}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{ blog_post.body|safe }}
            <span class="post-meta">Posted by {{ blog_post.author.name }} on {{ blog_post.date }}
            {% if current_user.id == 1 %}
                <a class="muted" href="{{url_for('edit_post', post_id=blog_post.id)}}"> - Edit Post</a>
            {% endif %}
            </span>
            <hr>
            {% for comment in blog_post.comments %}
                <div class="media media-comment">
                    <img src="{{ comment.comment_author.email | gravatar }}" class="commenter-image"/>
                    <div class="media-body comment-text">
                        {{ comment.text|safe }}
                        <p class="comment-meta">Posted by {{ comment.comment_author.name }}
                            {% if current_user.id == 1 %}
                                <a class="muted" href="{{url_for('delete_comment', comment_id=comment.id)}}"> ✘</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <div class="clearfix">
                {{ ckeditor.load() }}
                {{ ckeditor.config(name="comment") }}
                <form action="" method="post" class="form" role="form">
                    {{ form.csrf_token }}
                    {{ wtf.form_field(form.comment) }}
                    <button type="submit" class="btn custom"><i class="fas fa-comments"></i> Submit Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}