{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/bg/projects_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">My Projects</h1>
            <p class="subheading">What I'm working on.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-xl-3 row-cols-lg-2">
      <div class="col mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/proj/proj-portfolio.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Portfolio Webapp</h3>
                <p class="card-text text-muted status">
                    Status: in development
                </p>
                <p class="card-text">This website! Responsive Bootstrap CSS, Flask, authentication, relational database,
                    and more. Soon to be deployed on AWS with Elastic Beanstalk.
                </p>
            </div>
            <div class="card-footer bg-transparent">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj" data-toggle="modal" data-target="#portfolioModal">
                        More Info
                    </button>
                    <a class="btn custom-outline btn-proj" href="https://github.com/aeversme/portfolio-webapp" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
      </div>
        <div class="col mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/proj/proj-resume.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">Cloud Résumé</h3>
                <p class="card-text text-muted status">
                    Status: complete, deployed
                </p>
                <p class="card-text">Created for Forrest Brazeal's
                    <a href="https://cloudresumechallenge.dev/" target="_blank">Cloud Résumé Challenge</a>. Hosted on
                    AWS using Serverless Application Model, S3, Cloudfront, Lambda, DynamoDB, and more. GitHub Actions
                    for CI/CD.
                </p>
            </div>
            <div class="card-footer bg-transparent">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj" data-toggle="modal" data-target="#resumeModal">
                        More Info
                    </button>
                    <a class="btn custom-outline btn-proj" href="https://github.com/aeversme/resumestatic" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
        </div>
        <div class="col mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='img/proj/proj-habit.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Habit Tracker GUI</h3>
                <p class="card-text text-muted status">
                    Status: complete, executable planned
                </p>
                <p class="card-text">A desktop app to track habits (such as learning/coding hours). Utilizes
                    <a href="https://pixe.la/" target="_blank">Pixe.la</a> APIs to create a pixel graph. Created from
                    scratch as a side project with guizero.
                </p>
            </div>
            <div class="card-footer bg-transparent">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj" data-toggle="modal" data-target="#habitModal">
                        More Info
                    </button>
                    <a class="btn custom-outline btn-proj" href="https://github.com/aeversme/habit-tracker-gui" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="portfolioModalLabel">Portfolio Website</h5>
            </div>
            <div class="modal-body">
                1) a pithy description (“what am I looking at”),
                2) technologies employed,
                3) how much you did  yourself,
                4) highlights of any part you are particularly proud of, especially if you used something novel
                    or creative,
                5) any problems you encountered (such as that button-color one) and what you did / steps you took
                    to solve the problems,
                6) things you like to do someday to further improve the project (even if you aren’t really planning
                    to do so, just show you’ve thought about “what’s next”)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" aria-labelledby="resumeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resumeModalLabel">Cloud Résumé</h5>
            </div>
            <div class="modal-body">
                Details about the Cloud Résumé go here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="habitModal" tabindex="-1" aria-labelledby="habitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="habitModalLabel">Habit Tracker GUI</h5>
            </div>
            <div class="modal-body">
                Details about the Habit Tracker go here.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}