{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for('static', filename='img/bg/projects_bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container">
        <div class="jumbo-title text-center">
            <h1 class="big-heading">My Projects</h1>
            <p class="subheading">What I'm working on.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="{{ url_for('static', filename='img/proj/proj-portfolio.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Portfolio Webapp</h3>
                <p class="card-text text-muted status">
                    Status: in development
                </p>
                <p class="card-text">This website! Responsive Bootstrap CSS, Flask, authentication, SQLALchemy,
                    and more. Soon to be deployed on AWS with Elastic Beanstalk.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj">
                        More Info
                    </button>
                    <a class="btn custom btn-proj" href="https://github.com/aeversme/portfolio-webapp" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/proj/proj-resume.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h3 class="card-title">Cloud Resume</h3>
                <p class="card-text text-muted status">
                    Status: complete, deployed
                </p>
                <p class="card-text">Created for Forrest Brazeal's
                    <a href="https://cloudresumechallenge.dev/" target="_blank">Cloud Resume Challenge</a>. Hosted on
                    AWS using Serverless Application Model, S3, Cloudfront, Lambda, DynamoDB, and more. GitHub Actions
                    for CI/CD.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj">More Info</button>
                    <a class="btn custom btn-proj" href="https://github.com/aeversme/resumestatic" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/proj/proj-habit.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Habit Tracker GUI</h3>
                <p class="card-text text-muted status">
                    Status: complete, executable planned
                </p>
                <p class="card-text">A desktop app to track habits (such as learning/coding hours). Utilizes
                    <a href="https://pixe.la/" target="_blank">Pixe.la</a> APIs to create a pixel graph. Created as a side
                    project with guizero.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button type="button" class="btn custom btn-proj">More Info</button>
                    <a class="btn custom btn-proj" href="https://github.com/aeversme/habit-tracker-gui" target="_blank">
                        <i class="fas fa-code-branch"></i> GitHub</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}